<%= form_tag '/top/login', method: :post do %>
    <%= label_tag :uid, 'ユーザーID'%>
    <%= text_field_tag :uid %> <br>
    <%= label_tag :pass, 'パスワード' %>
    <%= password_field_tag :pass %> <br>
    <%= submit_tag 'ログイン' %>
<% end %>